doctype html
html
  head
    title Dance To Feel
    block scripts
    block style 
      
  body
    nav#navbar
        ul
           div#logo 
               img(src = "../static/img/dance7.jpg")
               | DTF
           li #[a(href="/") Home] 
           li #[a(href="/") About]
           li #[a(href="/contact") Contact Us]
           li #[a(href="/") Services] 
           li #[a(href="/") What We Do] 
    block content
    footer#footer 
           | Copyright © 2021 DTF | All Rights Reserved